@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
  padding-right: 10px;
  display: flex;
  flex-direction: column;
  background: url("/background-image.png"), linear-gradient(82deg, #A0FF1F 13%, #00ED71 87%);
}